.backgroundStyle {
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  height: 588px; 
  background-repeat: no-repeat; 
  background-size: 100%; 
  overflow: hidden; 
  /* Transitions */
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
}

.textStyle {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

@media only screen and (max-width: 843px) {
  .backgroundStyle {
    background-size: cover; 
    overflow: hidden; 
  }
}

