.projectBox {
  padding: 20px;
  border: 1px solid black;
  box-shadow: 10px 5px 5px black;
  width: 25%;
  height: 300px;
  margin: 20px;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.projectTitle {
  font-family: 'Quicksand', sans-serif;
  color:white;
  font-weight: 300;
  font-size:40px;
  background: rgba(29, 28, 28, 0.75);
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Button css */
.popupBtn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid white;
  margin:10px;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: white;
  text-align:center;
  transition: all 0.2s;
  font-size:20px;
  }
  .popupBtn:hover {
  color: white;
  background-color: grey;
  cursor:pointer;
  }

  .popupBtn2 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:10px;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: black;
    text-align:center;
    transition: all 0.2s;
    font-size:20px;
    }
    .popupBtn2:hover {
    color: white;
    background-color: grey;
    cursor:pointer;
}


.modal {
  font-size: 12px;
  max-height: 90vh;
  overflow-y: auto
}
.modal > .header {
  width: 100%;
  font-size: 30px;
  font-family: "Comic Sans MS";
  text-align: center;
  padding: 10px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  color: black;
}
.modal > .actions {
  width: 100%;
  /* padding: 10px 5px; */
  /* margin: auto; */
  text-align: center;
  cursor: pointer;
}
/* .modal > .close {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
} */
